.footer {
    display: flex !important;
    justify-content: center;
    background-color: #2b3035;
    color: #85a6b5;
    height: 1.5rem;
    align-items: center;

    position: absolute;
    bottom: 0;
    width: 100%;
}