<div class="card cargo-item m-2">
    <div class="card-header"   >
        <i class="fa fa-chevron-right" aria-hidden="true" (click)="isCollapsed=!isCollapsed"></i>
        <div class="title px-3">{{cargo.name | uppercase }}</div>
    </div>
    <div *ngIf="!isCollapsed" cdkDropList [cdkDropListData]="cargo.items" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of cargo.items" cdkDrag>
            <app-simple-item [item]="item"></app-simple-item>
        </div>
    </div>
</div>