<div class="col p-2">
    <div class="row pb-2">
        <div class="col">
            <div class="col input-group">
                <span class="input-group-text">import items</span>
                <textarea [(ngModel)]="itemsInput" class="form-control" aria-label="With textarea" rows="5"></textarea>
                <button type="button" class="btn btn-primary import-btn" (click)="batchImportItems()">Batch Import
                    Items</button>
                <button type="button" class="btn btn-primary import-btn" (click)="importItems()">Import Items</button>
            </div>
        </div>

        <div class="col">
            <div class="col input-group">
                <span class="input-group-text">import cargos</span>
                <textarea [(ngModel)]="cargosInput" class="form-control" aria-label="With textarea" rows="5"></textarea>
                <button type="button" class="btn btn-primary import-btn" (click)="importCargos()">Import Cargos</button>
            </div>
        </div>
    </div>





    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    All Items
                </div>
                <div class="d-flex flex-wrap justify-content-between">
                    <div *ngFor="let item of items" style="width: 45%;">
                        <div class="input-group input-group-sm d-flesx align-items-center">
                            <button class="btn btn-outline-primary" type="button" (click)="togglePinItem(item)">
                                <span [ngClass]="{'hidden' : !item.isCargo}">📦</span>
                            </button>
                            <input type="text" [(ngModel)]="item.name" [ngClass]="{'pinned' : item.isPinned}"
                                class="form-control" placeholder="name" aria-label="name">
                            <button class="btn btn-outline-warning" type="button" (click)="togglePinItem(item)">
                                📌</button>
                            <button class="btn btn-outline-danger" type="button" (click)="moveItemToThrash(item)">
                                🗑️</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                    All Cargos
                </div>
                <div class="d-flex flex-wrap justify-content-between">
                    <div *ngFor="let cargo of cargos" style="width: 45%;">
                        <div class="input-group input-group-sm">
                            <input type="text" [(ngModel)]="cargo.name" class="form-control " placeholder="name"
                                aria-label="name">
                            <span class="input-group-text">
                                <span class="badge text-bg-secondary ms-1">{{cargo.items?.length}}</span>
                            </span>
                            <button class="btn btn-outline-danger" type="button" (click)="moveCargoToThrash(cargo)">
                                🗑️</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>