<div class="caard p-4 m-4">
    <div class="caard-body">
        <div class="list-group">
            <div href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <div class="header mb-3 ">import export</div>
                </div>
                <ul>
                    <li>wkleic tekst, kolejne wiersze to kolejne itemy/pojemnniki</li>
                    <li>w tabie backapck mozna przenosic item miedzy cargami</li>
                </ul>
            </div>
            <div href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <div class="header mb-3 ">BackPack Tab</div>
                </div>
                <ul>
                    <li>lapiac za tytul mozna przenosic cargo po ekrani</li>
                    <li>options - mozna zapisac/odtworzyc samo polozenie okien </li>

                </ul>
            </div>

            <div href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <div class="header mb-3">Batch import/export</div>
                </div>
                <div>
                    <ul>
                        <li>jesli wiersz zaczyna sie od &#39;&gt;&#39; to jest cargo i kolejne od
                            razu wrzuca do tego cargo, az napotka kolejny wiersz zaczynajacy sie od &#39;&gt;&#39; to
                            wtedy tworzy to cargo i kolejne itemy wrzuca do tego cargo</li>
                        <li>jak cargo istnieje i itemy istnieja to te itemy przenosi do tego cargo</li>
                    </ul>
                </div>
            </div>
            <div href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <div class="header mb-3">Uwagi</div>
                </div>
                <ul>
                    <li class="mb-1">nazwy itemow/cargo nie moga sie powtarzac, jak item/cargo istnieje to go nie doda.
                    </li>
                    <li>save - zapis do przegladarki, tez dane o polozeniu cargo</li>
                    <li>load - wczytanie z przegladarki</li>
                    <li>clear - wyczyszczenie danych</li>
                    <li>enable eidtions - usuwanie,zmiany nazw</li>
                    <li>search - na razie nei dziala;]</li>
                </ul>

            </div>
        </div>

    </div>
</div>