.item {
    max-width: fit-content;
    min-width: 15rem;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 15rem;

        img {
            padding-right: 3px;
        }

        .icon {
            font-size: 1rem;

        }


        .pinned {
            font-weight: 600;
        }

        .orange {
            color: orange;
        }

        .left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}