.item {
    max-width: fit-content;
    min-width: 17em;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            padding-right: 3px;
        }

        .icon{
            font-size: 1em;
        }

        .left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}