<div class="item">
    <div class="content d-flex">
        <div class=" left">
            <i class="fa fa-square-o me-1 checkbox icon" aria-hidden="true"></i>
            <p class="card-text">{{item.name}} </p>
        </div>
        <div class="middle">
        </div>
        <div class=" right">
            <i class="fa fa-thumb-tack me-2 icon" aria-hidden="true" (click)="alert('pin')"></i>
            <i class="fa fa-exclamation-circle icon orange" aria-hidden="true" (click)="alert('warn')"></i>
        </div>
    </div>
</div>